@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');

:root {
	--color-primary: hsl(257, 40%, 49%);
	--heading-font: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: var(--color-primary);
}

.container {
	height: 100vh;
	background: url("../images/bg-mobile.svg") no-repeat;
	background-size: 100%;
	display: grid;
	grid-template-areas: 
	"header"
	"hero"
	"details"
	"footer";
}

.header {
	grid-area: header;
	padding: 1.5em;
}

.header img {
	height: 1.7em;
}
.content__main {

}
.hero__image {
	grid-area: hero;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2em;
}

.hero__image img {
	margin-top: 1.5em;
	height: 12em;
}

.details {
	grid-area: details;
	text-align: center;
	font-family: var(--heading-font);
	color: #fff;
	padding: 2em;
}
.details h1 {
	font-size: 1.4em;
	font-weight: 700;
	padding-bottom: 0.8em;
}
.details p {
	text-align: center;
	font-weight: 400;
	font-size: 0.9em;
	padding-bottom: 1.5em;
}
.footer {
	grid-area: footer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 1em 1.5em 1em;
}

.social {
	text-align: center;
	height: 30px;
	width: 30px;
	font-size: 1em;
	margin-right: 15px;
	color: #fff;
	border: 1.5px solid #fff;
	border-radius: 60px;
	padding: 2px;
}

.social:hover {
	background-color: #fff;
	color: var(--color-primary);
	cursor: pointer;
}

.btn-register {
	padding: 0.8em 5em;
	border-radius: 50px;
	border: none;
	background-color: #fff;
	cursor: pointer;
	color: var(--color-primary);
	box-shadow: 5px 8px 10px #3B3B98;
}

.btn-register:hover {
	background-color: #f9f9f9;
}

/*Media Queries*/

@media (min-width: 375px) {
	body {
		overflow: hidden;
	}
	.container {
		background: url("../images/bg-desktop.svg") no-repeat;
	    background-size: contain;
	    grid-template-areas: 
	    "header header"
	    "hero details"
	    "footer footer";
	    padding: 1.8em;
	}
    .content__main {
	    display: flex;
	    flex-direction: row;
    }

    .header img {
    	height: 2.5em;
    }

    .hero__image img {
    	height: 24em;
    	margin-left: 1.8em;
    }

    .details {
        text-align: left;
        padding: 3.8em;
    }

    .details h1 {
    	font-size: 2.5em;
    	font-weight: 600;
    }

    .details p {
    	text-align: left;
    	padding-right: 1.5em;
    }

   .btn-register {
   	    padding: 1em 4em;
   }
   .footer {
   	justify-content: flex-end;
   	margin-top: -2em;
   	margin-right: 4em;
   }
}


@media (max-width: 740px) and (min-width: 376px) {
	.container {
        background: url("../images/bg-mobile.svg") no-repeat;
        background-size: 100%;
        grid-template-areas: 
	        "header"
	        "hero"
	        "details"
	        "footer";
	}
	.content__main {
		flex-direction: column;
	}
}